# Build
bin/
obj/
[Bb]uild/
Debug/
Release/
x64/
x86/
*.log

# VS + Rider
.vs/
*.user
*.suo
*.userosscache
.idea/
*.iml

# ASP.NET artifacts
wwwroot/lib/
wwwroot/node_modules/
node_modules/

# Others
*.cache
*.swp
